{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    {% if not page_obj %}
      <p><font class="caption emptylist">There is no auction available.</font></p>
    {%  endif %}

    {% for record in page_obj  %}
      <div class="bordered-s1 horizontal-flex-container icon-hand" onclick="GoDetailPage('detailpage','{{ record.id }}')">
        <div class="box w200 mr10 noshrink">
          {% if record.image %}
            <img class="image w200" src="{{ FILE_SERVER_URL }}{{ record.image.url }}" alt="{{ record.title }}">
          {% else %}
            <img class="image w100" src="{% static 'auctions/images/noimage.png' %}" alt="No image available">
          {% endif %}  
        </div>
     
        <div class="box wmax">
          <div class="caption title">{{ record.title }}</div>
          <div class="caption price">Price:  ${{ record.bid|default:record.price }}</div>
          <div class="caption description">{{ record.description }}</div>
          <div class="caption created">Created {{ record.listedat|date:"M d, Y"|lower }}, {{ record.listedat|time:"g:i a" }}</div>
        </div>
      </div>
    {% endfor %}
 
  <div class=""> </div>

  <div class="flex-pages-container">
    {% if page_obj.has_previous %}
      <div onclick="GoToPage('/','1')">|&lt;</div>
      <div onclick="GoToPage('/','{{ page_obj.previous_page_number }}')">&lt;</div>
    {% endif %}
    {% if page_obj|length > 0 %}
      <span>{{ page_obj.number }} of  {{ page_obj.paginator.num_pages }}</span>
    {% endif %}
    {% if page_obj.has_next %}
      <div onclick="GoToPage('/','{{ page_obj.next_page_number }}')">&gt;</div>
      <div onclick="GoToPage('/','{{ page_obj.paginator.num_pages }}')">&gt;|</div>
    {% endif %}
  </div>



{% endblock %}